/*RESET STYLES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*VARIABLE DECLARATIONS*/
:root {
    --PD: 1.5rem;
    --BGCLR: #AF4319;
    --FNCLR: #333;
    --FF: "Elsie";
}
body {
    color: white;
    height: 90vh;
    width: 90vw;
    font-family: var(--FF);
    background-color: var(--BGCLR);
    background: linear-gradient(red, dogerblue);
}

main{
    height: 90vh;
    display:flex;
    flex-flow: row nowrap;
}

.title{
    font-size: 1.5rem;
    padding: 3rem;
    display: grid;
    place-content: center;
    margin-top: 3rem;
    width: 90vw;
    height: 80vh;
}
.image {
    display: grid;
    place-content: center;
    margin-top: 3rem;
    width: 30vw;
    height: 80vh;
}

img{
    height: 250px;
    border: 4px dotted whitesmoke;
    border-radius: 50%;
}

h1,h3{
    padding: 2rem;
}

nav{
    
}

menu {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: flex-end;
}
menu li{
    margin: 1.5rem 0 0 3rem;
}

    menu a {
        text-decoration: none;
        color: whitesmoke;
        font-weight: bold;
    }

    menu a:hover{
        text-decoration: underline;
    }

footer p {
    display: none;
    font-family: 'Baskerville Old Face';
}