@{
    ViewData["Title"] = "Pravakar Rijal";
}

<section class="title">
            <h1 class="title__heading">Hello, I'm Pravakar Rijal</h1>
            <h3 class="title__subheading">I'm a student and a tech enthusiast currently exploring the exciting world of ASP.NET Core.</h3>
        </section>
        <section class="image">
            <figure class="image__figure">
                <img src="/img/profilepicture.png" alt="Profile Picture"/>
            </figure>
        </section>