@{
    ViewBag.Title = "Vidlly";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Vidlly</h1>
        <p class="lead">Vidlly is an Online Web Application with records of Movies rented by Customers.</p>
    </section>

    <div class="row">
        
    </div>
</main>